<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | isaac broyles</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
    </div>
    <div class="banner">
    </div>
    @RenderBody()
</body>
</html>
