@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>This is the index of a website being created by a Software Developer named Isaac Broyles.</p>

<p>The website will serve as a personal proof of concept for azure web hosting via github.</p>

<p>You can contact me by searching for me on google and following the obvious trail to me.</p>

